<div class="jumbotron">
  <h1 class="display-3">Welcome to coffee chat</h1>
  <p class="lead"><%= @daily_quote %></p>
  <% if signed_in? == nil %>
  <p class="lead"> <%= link_to "Sign up", new_user_path, class: "btn btn-primary"%> for an account today!</p>
  <p> Already a member? <%= link_to "Get your learn on!", new_session_path, class: "btn btn-primary"%> </p>
  <% else %>
  <p> <%= link_to "See dashboard", users_path, class: "btn btn-primary"%></p>
  <% end %>
</div>
