<% @chats.each do |chat| %>
  <div class="card">

   <h4 class="card-title"><%= link_to chat.title, chat_path(chat) %> Created by: <%= chat.user.username %></h4>
   <p class="card-text"><%= chat.description %></p>
   <br>
   </div>
<% end %>
