
<% @chats.each do |chat| %>
  <div class="col-md-8 col-md-offset-1">
    <div class="card">
      <div class="card-block">
         <h4 class="card-title"><%= link_to chat.title, chat_path(chat) %> Created by: <%= chat.user.username %> <p class="time"><%= time_ago_in_words(chat.created_at) + ' ago' %></p></h4>
         <p class="card-text"><%= chat.description %></p>
      </div>
     </div>
   </div>
<% end %>
