<h1>Chat about: <%= @chat.title %></h1> <p>Created by: <%= link_to @chat.user.username, profile_path(@chat.profile) %>, <%= time_ago_in_words(@chat.created_at) %> ago</p>


<p><%= @chat.description %></p>

<h2></h2>
