// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.card {
  background: #432852;
  color: white;
  margin-bottom: 2vh;
  padding-bottom: 2vh;
}

.card-title, .card-text {
  text-align: left;
  padding-left: 2vw;
}

.button {
  border-radius: 2px;
  border: 2px;
  margin-left: 10px;
  background-color: #FF3D4D;
  padding: 1vh;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.card-img-top {
  width: 100%;
  height: 30%;
}
